/* General body styles */
.center {
  text-align: center;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0; /* Remove default margin */
    font-family: 'Poppins', sans-serif; /* Use Google font Poppins */
    color: #000; /* Default text color black */
}

/* Header container styles */
header {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between logo and nav */
    align-items: center; /* Vertically center items */
    padding: 16px 32px; /* Padding around content */
}

/* Logo text */
.logo {
    font-weight: 700; /* Bold text */
    font-size: 14px; /* Small size text */
}

/* Navigation list styles */
nav ul {
    display: flex; /* Horizontal menu */
    list-style: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
    gap: 24px; /* Space between menu items */
}
	

/* Navigation links */
nav a {
    text-decoration: none; /* Remove underline */
    color: #000; /* Black text */
    font-weight: 400; /* Normal weight */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer on hover */
}

/* Active menu item - Home */
nav a.active {
    font-weight: 700; /* Bold for active */
	background-color: white;
}


.grid-container { /*Creates grid for my website*/
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh 45vh 60vh 70vh 45vh 20vh;
  height: 100vh;
}

.nav {
  box-sizing: border-box;
  text-align: right;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  z-index: 99;
  width: 100%;
  animation-name: fadein;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.nav-logo { /*Styling for logo in the navigation*/
  text-align: right;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.nav-logo img {width:75%; height:auto;}

/* CSS for block menu starts here */
ul {
  display: inline;
  padding: 20px 0px 0px 0px;
  list-style: none;
}


ul li {
  font-size: 20px;
  font-weight: 550;
  font-style: normal;
  display: inline-block;
  position: relative;
  padding: 13px 30px 17px; /*padding for main block menu buttons */
}


ul li:hover {
  a {color:#808080;} /*When box is hovered over, text color changes to gray*/
  background: white;
  }
 
/* Hover Colours*/
a:link {color: black;} /* unvisited link */
a:visited {color:#000;} /* visited link */
a:hover {color: black;} /* mouse over link */
a:active {color:#000;}  /* selected link */

a {
text-decoration: none;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px; /* space between each drop-down menu list */
  left: 0;
  width: 175px; /* width of drop-down menu list */
  display: none;
  visibility: hidden; /* this hides the drop-down menu list */
  z-index: 1; /* for overlapping divs, bringing to the front like a drop down menu */
}

ul li ul li {
  background: black; /* this is the drop-down menu background color */
  display: block;
}
ul li ul li:hover { background: grey;} /* this is the drop-down menu hover on blocks */

ul li:hover ul {
  display: block;
  visibility: visible; /* this makes the drop-down menu visible*/
}

.grow {
transition: all .2s ease-in-out;
}

.grow:hover {
transform: scale(1.1);
}


/* section container */
.heading {
    background-color: #d3d3d3; /* Light gray background */
    padding: 300px 32px; /* Large padding top/bottom, some left/right */
    width: 100%; /* Fill full viewport width */
    box-sizing: border-box; /* Include padding in width */
}

/* main heading */
.heading h1 {
    font-weight: normal; /* normal */
    font-size: 30px; /* Large text */
    padding-top: 50px; /* Positions text */
	padding-left: 50px;
	color: #434343;
}

/* paragraph text */
.heading p {
    font-weight: bold; /* Bold */
    font-size: 80px; /* Slightly bigger font */
    margin: 0; /* No margin */
	padding-left: 60px;
}

/* Light colored text inside hero paragraph */
.light-text {
    color: #FFFFFF; /* White text */
}


.container {
  text-align: center;
  background-color: #434343;
  margin-bottom: 50px;
  padding-bottom: 100px;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 60px;
}

.card {
  background-color: #d7d7d7;
  color: white;
  width: 400px;
  height: 250px;
  font-family: 'Poppins', sans-serif; /* Use Google font Poppins */
  border-radius: 10px;
  font-weight: bold; /* Bold text*/
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
}



.card:hover {
	transform: scale(1.05); /* Controls the size of the cards */
}



/* Content section styles */
.content {
	padding: 30px 1000px 100px 50px; /* Padding around content */
    width: 100%; /* Fill full viewport width */
    box-sizing: border-box; /* Include padding in width */
}



/* main heading */
#h-content1 {
    font-weight: 700px; /* normal */
    font-size: 40px; /* Large text */
    padding-top: 50px; /* Positions text */
	color: black;
	display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: left; /* Horizontally centers text */
}

/* main heading */
#h-content2 {
    font-weight: 700px; /* normal */
    font-size: 40px; /* Large text */
    padding-top: 50px; /* Positions text */
	color: black;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: left; /* Horizontally centers text */
}


/* Subheading text */
.h3 subheading {
    font-weight: 400; /* Normal */
    font-size: 20px; /* Standard readable font size */
	display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: left; /* Horizontally centers text */
}


/* Paragraph text */
.content p {
    font-weight: 400; /* Normal */
    font-size: 20px; /* Standard readable font size */
    line-height: 1.5; /* Line spacing for readability */
	margin-top: 50px;
	margin-right: 0px;
	display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: left; /* Horizontally centers text */
}



#h1 {
    font-weight: 700; /* Bold */
    font-size: 30px; /* Medium size */
	padding: 50px 50px 0px 650px; 
	color: black;
	display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text*/ 
}


#h2 {
    font-weight: 700; /* Bold */
    font-size: 30px; /* Medium size */
	padding: 150px 650px 0px 50px;  /*positioning text*/
	color: black;
	display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: left; /* Horizontally centers text */
}


.paragraph-header {
    font-weight: 700; /* Bold */
    font-size: 30px; /* Medium size */
	padding: 50px 50px 0px 0px;  /*positioning text*/
	color: black;
	display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: right; /* Horizontally centers text */
}


.paragraph-text {
    font-weight: 400; /* Normal */
    font-size: 20px; /* Standard readable font size */
    line-height: 1.5; /* Line spacing for readability */
    box-sizing: border-box; /* Include padding in width */
	padding: 30px 40px 30px 1050px; /*positioning text*/
	color: black;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: right; /* Horizontally centers text */
  margin: auto;
}


#p3 {
    font-weight: 400; /* Normal */
    font-size: 20px; /* Standard readable font size */
    line-height: 1.5; /* Line spacing for readability */
	box-sizing: border-box; /* Include padding in width */
	padding: 30px 1000px 100px 50px; /*positioning text*/
	color: black;
		display: flex; /* Activates Flexbox for its text */
  align-items: left; /* Vertically centers text */
  justify-content: left; /* Horizontally centers text */
}


#p4 {
    font-weight: 400; /* Normal */
    font-size: 20px; /* Standard readable font size */
    line-height: 1.5; /* Line spacing for readability */
	padding: 30px 40px 150px 650px; /*positioning text*/
	color: black;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
}

#p5 {
    font-weight: 400; /* Normal */
    font-size: 20px; /* Standard readable font size */
    line-height: 1.5; /* Line spacing for readability */
	padding: 30px 40px 100px 650px; /*positioning text*/
	color: black;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
}


/* Placeholder box for the image */
.img-placeholder {
    position: absolute;
    padding: 150px 100px; /* Padding around content */
    box-sizing: border-box; /* Include padding in width */
    background-color: #D9D9D9; /* Color of the box */
	margin-left: 900px;
	width: 100%;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */

}

/* Placeholder box for the image */
.img-placeholder2 {
    position: absolute;
    padding: 150px 200px; /* Padding around content */
    box-sizing: border-box; /* Include padding in width */
    background-color: #D9D9D9; /* Color of the box */
	margin-left: 80px;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
}

/* Placeholder box for the image */
.img-placeholder3 {
    position: absolute;
    padding: 150px 150px; /* Padding around content */
    box-sizing: border-box; /* Include padding in width */
    background-color: #D9D9D9; /* Color of the box */
	margin-left: 800px;
	margin-top: 150px;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
}

/* Placeholder box for the image */
.img-placeholder4 {
    position: absolute;
    padding: 150px; /* Padding around content */
    box-sizing: border-box; /* Include padding in width */
    background-color: #D9D9D9; /* Color of the box */
	margin-left: 90px;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
}

/* Placeholder box for the image */
.img-placeholder5 {
    position: absolute;
    padding: 150px 120px; /* Padding around content */
    box-sizing: border-box; /* Include padding in width */
    background-color: #D9D9D9; /* Color of the box */
	margin-left: 950px;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
}

/* Placeholder box for the image */
.img-placeholder6 {
    position: absolute;
    padding: 150px 200px; /* Padding around content */
    box-sizing: border-box; /* Include padding in width */
    background-color: #D9D9D9; /* Color of the box */
	margin-left: 90px;
}

/* Placeholder box for the image */
.img-placeholder7 {
    position: absolute;
    padding: 150px 100px; /* Padding around content */
    box-sizing: border-box; /* Include padding in width */
    background-color: #D9D9D9; /* Color of the box */
	margin-left: 900px;
		display: flex; /* Activates Flexbox for its text */
  align-items: center; /* Vertically centers text */
  justify-content: center; /* Horizontally centers text */
}



/* Footer Styles */
.footer {
    background-color: #434343;
    color: #ecf0f1;
    text-align: center;
    padding: 20px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
	
}

.footer-content p {
    margin-bottom: 10px;
}

.footer .social-links a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 10px;
}

.footer .social-links a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .footer .social-links {
        font-size: 14px;
    }
}

darken {
  color: #3F56A8;
}
